#icon {
    height: 90px;
}

body {
    margin: 0px;
    background-color: rgb(255, 116, 116);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


#noticias {
    display: flex;
    background-color: rgb(252, 252, 252);
    margin: 40px;

}

.noticia {
    background-color: rgb(5, 5, 5);
    color: white;
    border: 5px solid rgb(250, 0, 0);
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.img_noticia {
    height: 250px;
}

footer {

    background-color: black;
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 0);

}


h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);

}

p {
    display: flex;
    align-items: center;
    justify-content: space-around;


    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);


}

#escalacao {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    color: white;

}

.jogador {

    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid white;
    border-radius: 5px;


}

.img_jgdor {

    background-color: rgb(0, 0, 0);
    border: solid white;
    height: 170px;
}


.gif {
   position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
 
}